<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task_1</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
 <div id="app">
   <div class="text-contant">
        <h1 class="title"> {{ title }}</h1>
        <label> <input type="text" v-model="inputSerch"> Поиск статьи</label>
        <div class="news-content">

          <p>Найдено: {{ number}}</p>        
          <template v-for="art in findNews">
                <div class="news__item">
                    <h2 class="news__title"><a :href="art.url" target="_blank" class="new__link"> {{ art.title }} </a></h2>
                    <div class="flex">
                       <a :href="art.url" target="_blank" class="new__link" ><img :src="art.img" alt="" class="new__img"></a> 
                       <p class="new__text"> {{ art.description }} </p>
                    </div>  
                </div>
            </template>
        </div>
    </div>

</div>
<script src="js/main.js"></script>
</body>
</html>
