body{
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
}
.text-contant{
    width: 980px;
    margin: 0 auto;
}
.btn{
    color:#fff;
    border:1px solid black;
    background-color: darkblue;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}