<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
 <div id="app">
    <button v-on:click="shuffle">Перемешать</button>
    <button v-on:click="createElem" v-if='show'>Играть</button>
    <button v-else disabled>Играть</button>
    <div >
        <transition-group name="cell" tag="div" class="container">
            <span
              v-for="item in items"
              v-bind:key="item"
              class="cell"
              :style='{color:color[item], background:background}'
              v-on:click="checkNumber($event)"
              
            >
              {{ item }}
            </span>
         </transition-group>
    </div>
 </div>
<script src="js/main.js"></script>
</body>
</html>