*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#app{
    width: 980px;
    margin: 0 auto;
    margin-top: 20px;
}

label{
    display: inline-block;
    margin: 10px;
    width: 100%;
    background-color: aquamarine;
    padding: 10px;   
}
label:hover{

    border:1px solid gray;
    cursor: pointer;
}
.total-price{
    margin: 10px;
    padding: 10px; 
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: cadetblue;
}